@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');


.App {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: #FFFFFF;
  background: linear-gradient(180deg, rgba(106, 41, 246, 0.93) 50.17%, #1CA6B9 100%);
}


.Welcome {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height:100vh;
}

.AreaCreation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height:100vh;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-top: 3rem;
  height:100%;
  max-width: 459px;
}

.field {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4rem;
}

div {
  font-size: 1.5rem;
}

textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1rem;
  color: rgba(106, 41, 246, 0.8);;
  background: #D4F8FD;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  width: 459px;
  height: 7.2rem;
}

.custom-tag {
  align-self: center;
  width: 8rem;
  background: #D4F8FD;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: 3px solid #65FA86;
  border-radius: 30px;
  background: #D4F8FD;
  color: #7B61FF;
  font-weight: 600;
  margin: 0.5rem 0.5rem;
}

input {
  background: #D4F8FD;
  border-radius: 10px;
}

label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.AreaSelection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height:100vh;
}

p {
  font-size: 1.5rem;
}



span {
  font-size: 1.5rem;
}

.flex-span {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.center-text {
  margin: 0 6rem ;
  text-align: center;
}

.space-between{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

}

h1 {
  font-size: 2rem;
}

button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: 3px solid #65FA86;
  border-radius: 30px;
  background: #D4F8FD;
  color: #7B61FF;
  font-weight: 600;
  margin: 0.5rem 0.5rem;
}

button.logout {
  color: #fff;
  background: #7B61FF;
  min-width: 12rem;
  font-size: 1.5rem;
}

button.activity {
  margin: 0.5rem 0.5rem;
}

button.activity.active {
  border: 3px solid #1597A0;
  background: #65FA86;
}

button.big {
  align-self: center;
  font-size: 1.5rem;
  padding: 0.8rem 1.6rem;
}

button.please-join {
  margin-top: 1rem;
  color: #1CA6B9;
}

button.please-join.active {
  color: #7B61FF;
  background-color: #65FA86;
  border: 3px solid #1597A0;
}


button.dont-disturb {
  margin-top: 1rem;
  color: #F807C3;
}

button.dont-disturb.active {
  color: #FFF;
  background-color: #F807C3;
  border: 3px solid #1597A0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1FA3BC;
}


.main {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.layout {
  height: 772px;
  width: 324px;
  background-image: url('../public/new_layout.svg');
  padding: 3rem;
  background-repeat: no-repeat;
   background-position: center center;
}


.popup {
  height: 676px;
  margin-right: 3rem;
  margin-top: 3rem;
  font-weight: bold;
  padding: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background: #D4F8FD;
  color: #4A1FA6;
}

.to-right {
align-self: flex-end;}

.closed{
  display: none;
}

.popup-top {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


.CirclesArray {
  margin-left: 150px;
  margin-top: 21px;
  width: 155px;
  flex-flow: row wrap;
  display: grid;
  grid-template-columns: auto auto auto;
}

.Areas {
  margin-left: 150px;
  margin-top: -717px;
  width: 155px;
  height: 717px;
  flex-flow: row wrap;
  display: grid;
  grid-template-columns: 3.2rem 3.2rem 3.2rem;
  grid-template-rows: 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem;

}

.area {
  background: #65FA86;
  border: 3px solid #51C68E;
  color: #7336F5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.area.dont-disturb {
  background: #F807C3;
  border: 3px solid #51C68E;
  color: #FFFFFF;
}

.area.please-join {
  background: #65FA86;
  border: 3px solid #51C68E;
  color: #7336F5;
}

.area-title {
  text-align: center;
  display: block;
  font-size: 1rem;
}

.area-title.vertical {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.area-title.diagonal {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.SubmitArea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 324px;
  bottom: 772px;
  width: 3rem;
  height: 3rem;
  margin: 0.6rem;
  border-radius: 30px;
  border: 3px solid #51C68E;
  background-color: #65FA86;

}


.circle {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  align-self: center;
  width: 2rem;
  height: 2rem;
  margin: 0.6rem;
  border-radius: 1rem;
  border: 2px solid #65FA86;
  transition: all 0.5s ease-in-out;
}

.circle.active {
  transform: scale(1,1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #65FA86;
  border: 3px solid #51C68E;
}

.align-flex-end {
    align-self: flex-end;
}


.chooseDesign {
  font-size: 1rem;
  align-self: flex-end;
  margin-right: 1rem;
}
